@import "tailwindcss";

@theme {
  --color-primary: #400062;
  --color-primary-hover: #30004b;
  --color-background: #f1fcf9;
  --color-surface: #ffffff;
  --color-on-surface: #141d1c;
  --color-outline: #7e7481;
  --color-secondary: #7933c8;
  
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply font-sans bg-background antialiased;
  }
}

@layer components {
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .primary-gradient {
    background: linear-gradient(135deg, #400062 0%, #7933c8 100%);
  }
}
